.container
    width: 522px
    height: 300px

    border-radius: 8px

    transition: all 0.3s ease
    transition: transform 1.2s ease

    cursor: pointer

    display: flex
    justify-content: center
    align-items: center

    &:hover
        transform: scale(1.05)
    
    &:active
        transform: scale(1.045) translateY(2px)

    &.open
        transform: scale(1.05) translateY(20px)
            
        > img
            &.top
                transform: rotate3d(180,0,0, 180deg)
                z-index: 6 !important

    &.throw
        .letter
            transform: translateY(-40px)

        > img
            transition: all 4s ease
            transform: translateY(100vh) !important

            &.top
                z-index: 6 !important


    .letter
        position: relative
        z-index: 7

        transition: all 1.5s ease
        perspective: 1000px 

        display: flex
        align-items: center
        justify-content: center

        .card
            position: absolute
            top: 50%
            transform: translateY(-50%)
            transition: all 1s ease-in-out

            filter: drop-shadow(0 0 7px #20202010)

            > div
                visibility: hidden
                opacity: 0
                transition: all 3.6s ease-in

                display: flex
                justify-content: center
                align-items: center

                // background-color: #ff000077 !important

                width: 80%
                height: 67%    

                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)

            img 
                transition: all 1s ease-in-out
                // opacity: 0.5
                width: 450px
            
            button
                background: none
                border: none

                position: absolute
                top: 50%

                visibility: hidden
                opacity: 0
                transition: all 0.6s ease
                    
                filter: drop-shadow( 0 0 17px #1f1e1dc0)
                cursor: pointer

                img
                    width: 50px !important

                &:disabled
                    visibility: hidden !important
                &:nth-child(1)
                    right: 105%
                &:nth-child(2)
                    left: 105%
                    img
                        rotate: 180deg

            //  =================== //

            &:nth-child(1)
                z-index: 21 !important
            &:nth-child(2)
                z-index: 20 !important
            &:nth-child(3)
                z-index: 19 !important
            &:nth-child(4)
                z-index: 18 !important
            &:nth-child(5)
                z-index: 17 !important
            &:nth-child(6)
                z-index: 16 !important
            &:nth-child(7)
                z-index: 15 !important
            &:nth-child(8)
                z-index: 14 !important
            &:nth-child(9)
                z-index: 13 !important
            &:nth-child(10)
                z-index: 12 !important
            &:nth-child(11)
                z-index: 11 !important
            &:nth-child(12)
                z-index: 10 !important

            //  =================== //

        &.readStance
            .card
                scale: 0.9

                img
                    width: 800px

                &.redundantOne
                    transform: rotateX(-12deg) scale(1, 0.9) translateY(calc(-50% + 50vh + 100px))
                &.redundantTwo
                    transform: rotateX(-20deg) scale(1.1, 1) translateY(calc(-50% + 50vh + 130px))
                &.redundantThree
                    transform: rotateX(-28deg) scale(1.25, 1.2) translateY(calc(-50% + 50vh + 160px))

                &.activeCard
                    scale: 1
                    
                    > div
                        visibility: visible
                        opacity: 1
                        transition: all 0.4s ease-in

                    button
                        visibility: visible
                        opacity: 0.6

                        &:hover
                            opacity: 1
                            transform: translateY(-5px)
                        &:active
                            transform: translateY(3px)
                            filter: drop-shadow( 0 0 17px #ffffffda)
                        
                &.secondCard
                    transform: translateX( - 60px ) translateY(-50%)
                    rotate: -3deg
                    scale: 0.95
                &.thirdCard
                    transform: translateX( + 60px ) translateY(-50%)
                    rotate: 3deg
                    scale: 0.95

    > img
        width: 100%
        position: absolute
        transition: all 2s ease

        &.top
            top: -61%
            filter: drop-shadow(0 10px 7px #20202009)
            z-index: 10

        &.bot
            bottom: 0
            filter: drop-shadow(0 -10px 7px #20202009)
            z-index: 9
        &.arc
            bottom: 0
            filter: drop-shadow(0 -8px 7px #20202009)
            z-index: 8
        &.base
            top: 0
            z-index: 1
